body,
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0em 10%;
}

.main-navigation {
    background: #41B883;
}

.main-navigation ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 2em;
}

.main-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1em;
    color: #34495E;
    font-weight: 600;
}

.main-navigation a:hover {
    padding: 1em;
    background: #B5D6E2;
}

.page-header {
    background-image: url("assets/gravel.jpg");
    height: 50%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.avatar {
    padding-top: 3em;
}

.avatar>img {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
}

.page-header-social>a {

    color: #D8D8D9;
}

.skills a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
}